<div data-bind="visible: visible">
    <div class="search-area col-md-2 title-fix">
        <h3><i class="fa fa-search"></i>&nbsp;&nbsp; @OrdersDb.Resources.CommonResources.Search</h3>
        <div style="height: 12px;"></div>


        <!-- ko with: id -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        <!-- ko with: name -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        <!-- ko with: cityName -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        @Html.Partial("Controls/ActionsBlock")
    </div>
    <div class="table-area col-md-10 title-fix">
        @Html.Partial("Controls/TopInfoBlock")
        <!-- ko with: table -->
        @Html.Partial("Controls/Table/TableControl")
        <!-- /ko -->
    </div>
</div>