@using OrdersDb.Resources
@{
    ViewBag.Title = CommonResources.Login;
    Layout = "~/Views/Shared/_LayoutUnauthorized.cshtml";
}

<!-- ko with: account -->
<form class="login-form" method="post">
    <h3 class="form-title">@CommonResources.Login_to_your_account</h3>
    <div data-bind="visible: validationSummaryVisible" style="display: none;" class="alert alert-danger ">
        <button class="close" data-close="alert"></button>
        <span data-bind="text: validationSummary"></span>
    </div>
    <!-- ko with: fields -->
    <!-- ko with: Name -->
    <div data-bind="css: { 'has-error': hasErrors }" class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@CommonResources.Username</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input data-bind="value: value" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
        </div>
        <span data-bind="text: errorsText " class="help-block hidden-if-no-error"></span>
    </div>
    <!-- /ko -->
    <!-- ko with: Password -->
    <div data-bind="css: { 'has-error': hasErrors }" class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@CommonResources.Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input data-bind="value: value" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
        </div>
        <span data-bind="text: errorsText " class="help-block hidden-if-no-error"></span>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <div style="border-bottom: none;" class="form-actions">
        <label style="margin-left: 22px" class="checkbox">
            <input data-bind="value: rememberMe" type="checkbox" name="remember" value="1" /> @CommonResources.Remember_me
        </label>
        <button data-bind="click: login" type="button" class="btn green pull-right">
            @CommonResources.Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- /ko -->
