<div data-bind="visible: visible">
    <div class="search-area col-md-2 title-fix">
        <h3><i class="fa fa-search"></i>&nbsp;&nbsp; Поиск</h3>
        <div style="height: 12px;"></div>
        <!-- ko with: id -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        <!-- ko with: Client -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        <!-- ko with: Code -->
        @Html.Partial("Controls/Fields/TextField")
        <!-- /ko -->
        <!-- ko with: BuyPrice -->
        @Html.Partial("Controls/Fields/RangeSpinnerControl")
        <!-- /ko -->
        <!-- ko with: SellPrice -->
        @Html.Partial("Controls/Fields/RangeSpinnerControl")
        <!-- /ko -->
        @Html.Partial("Controls/ActionsBlock")
    </div>
    <div class="table-area col-md-10 title-fix">
        @Html.Partial("Controls/TopInfoBlock")
        <!-- ko with: table -->
        @Html.Partial("Controls/Table/TableControl")
        <!-- /ko -->
    </div>
</div>
