<div data-bind="visible: visible">
    <div class="search-area col-md-2 title-fix">
        @Html.Partial("Controls/EditActionsBlock")
    </div>
    <div class="table-area col-md-10 title-fix">
        <h3>
            <i class="fa fa-edit"></i>
            <span data-bind="text: title" class="title-span"></span>
        </h3>
        @Html.Partial("Controls/ValidationBlock")
        <br />
        <!-- ko with: fields -->
        <div class="row">
            <div class="col-md-12">
                <!-- ko with: FirstName -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
                <!-- ko with: LastName -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
                <!-- ko with: Patronymic -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
                <!-- ko with: Email -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
                <!-- ko with: SNILS -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- ko with: Position -->
                @Html.Partial("Controls/Fields/Dropdown")
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
